.showcase
    include nav
    .text-box
        h1.main-heading
            MEALS PLANS 
            br
            | FOR 
            span#span-detector.span-styler EVERYONE
        .btns-container
            a.btn.btn-full(href='') Book Now
            a.btn.btn-empty(href='') Show Me More