extend base
block content
    .managePlans
        .managePlans-page
            h2 MANAGE PLANS
            .manage-container
                p.para 
                    a.link(href="/createplan" ) CREATE PLAN
                p.para 
                    a.link(href="/plans") GET ALL PLANS
                p.para
                    a.link(href="/getPlan") GET PLAN    
                p.para 
                    a.link(href="/updatePlans" ) UPDATE PLANS
                p.para 
                    a.link(href="/deletePlans") DELETE PLANS    