extend base
block content
    .createPlan
        .createPlan-page
            h2 CREATE PLAN
            form
                .name
                    input.name-text(type='name', placeholder='Name' required)
                .duration    
                    input.duration-time(type='number' step="0.1", placeholder='Duration' required)
                .price
                    input.priceMoney(type='number' step="0.1", placeholder='Price' required)
                .ratingAvrg
                    input.ratingAverage(type='number' step="0.1", placeholder='Rating Average' required)
                .discount
                    input.discountMoney(type='number' step="0.1", placeholder='Discount')
                .btns__container.createbttn
                     button.createP(type="submit").btn.btn-full CREATE PLAN