footer
    .footer
        .extra
            .about
                h6 About us
                h6 ios App
                h6 Android App
            .iconss
                i.fab.fa-facebook-square.footer-icon
                i.fab.fa-twitter-square.footer-icon
                i.fab.fa-instagram.footer-icon
                i.fab.fa-snapchat-square.footer-icon
        .footer-text
            | Copyright © 2019 EVERYONE. All rights reserved.
