extend base
block content
    .manageUser
        .manageUser-page
            h2 MANAGE USER
            .manage-container
                p.para 
                    a.link(href="/getAllUsers") GET ALL USERS
                p.para
                    a.link(href="/getUser") GET ME   
                p.para 
                    a.link(href="/updateUser" ) UPDATE USER
                p.para 
                    a.link(href="/deleteUser") DELETE USER   