doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css",crossorigin)
        link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap",rel="stylesheet")
        link(rel="stylesheet",href="css/showcase.css")
        link(rel="stylesheet",href="css/login.css")
        link(rel="stylesheet",href="css/signUp.css")
        link(rel="stylesheet",href="css/reset.css")
        link(rel="stylesheet",href="css/managePlans.css")
        link(rel="stylesheet",href="css/createPlan.css")
        link(rel="stylesheet", href="css/profile.css")
        link(rel="stylesheet", href="css/manageUser.css")
        title #{title}
    body
    block header
        include nav
    block content
        p content will come here
    include footer
    script(src="https://js.stripe.com/v3/")
    script(src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="true")
    script(src="js/frontend.js")
    script(src="js/script.js")