doctype html
html
    head
    body
        include nav
        block header
            h1 It's A Home Page
        //- include main.html
        block main
            h1 Content is provided by Home Page
        block howto
            p Foloowing steps are above
        include footer